*{
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(45355.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.7;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.tool-bar-right{
    padding-right: 3%;
}


canvas{
    width: 50%;
    height: 70%;
    position: absolute;

    top: 20%;
    left: 24.5%;

    /* border: 2px solid black; */
    background-color: white;
    border-radius: 15px;
    cursor: crosshair;
}

img{
    width: 80px;
    height: 80px;
    margin: 40px 0% 18px 70px;
}

img:hover {
    filter: drop-shadow(0 0 0.75rem rgb(179, 203, 222));
}


.color-option {

    width: 20px;
    height: 20px;
    margin: 5px;
    margin-top: 25%;
    border-radius: 50%;

    cursor: pointer;
}

#option1 {
    opacity: 0.5;
    background-color: red;
}

#option2 {
    opacity: 0.5;
    background-color: blue;
}

#option3 {
    opacity: 0.5;
    background-color: green;
}

#option4 {
    opacity: 0.5;
    background-color:  yellow;
}

#option5 {
    opacity: 0.5;
    background-color: black;
}

#option6 {
    opacity: 0.5;
    background-color: white;
}

#option1:hover, #option2:hover, #option3:hover, #option4:hover, #option5:hover, #option6:hover {
    opacity: 1;
    border: 2px solid wheat;
}

@media (max-width:1270px) {
    .background{
        background-image: url(alt-bg-tab.jpg);
    }

    .contain{
        flex-direction: column;
    }

    canvas{
        border: 4px solid lightgray;
        width: 80%;
        height: 900px;
        margin-right: 60%;
    }
}

@media (max-width:739px) {

    .background{
        background-image: url(alt-bg.jpg);
    }

    img{
        width: 10%;
        height: 10%;
        margin: 2% 0% 1% 4%;
    }

    canvas{
        top: 30px;
        right: 30px;
        border: 4px solid lightgray;
        width: 80%;
        height: 600px;
    }
}
