*{
    margin: 0;
    padding: 0;
}

.background{
    background-image: url(45355.jpg);
    background-position-y: 55%;
    background-size: cover;

    opacity: 0.6;
    height: 100vh;
    width: 100vw;

    position: absolute;
    z-index: -1;
}


.tool-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

canvas{
    width: 775px;
    height: 535px;
    position: absolute;

    top: 18%;
    left: 24.5%;

    background-color: white;
    border-radius: 15px;
    cursor: crosshair;
}

img{
    width: 5%;
    height: 5%;
    margin: 4% 0% 2% 4%;
}

img:hover {
    filter: drop-shadow(0 0 0.75rem rgb(179, 203, 222));
}

.color-option {

    width: 20px;
    height: 20px;
    margin: 5px;
    margin-top: 25%;
    border-radius: 50%;

    cursor: pointer;
}

#option1 {
    opacity: 0.5;
    background-color: red;
}

#option2 {
    opacity: 0.5;
    background-color: blue;
}

#option3 {
    opacity: 0.5;
    background-color: green;
}

#option4 {
    opacity: 0.5;
    background-color:  yellow;
}

#option5 {
    opacity: 0.5;
    background-color: black;
}

#option6 {
    opacity: 0.5;
    background-color: white;
}

#option1:hover, #option2:hover, #option3:hover, #option4:hover, #option5:hover, #option6:hover {
    opacity: 1;
    border: 2px solid wheat;
}
